@import 'variables';
.card {
    max-width: 300px;
    min-width: 280px;
    box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.04), 0 2px 5px rgb(0, 0, 0, 0.04);
    border: 1px solid $border;
    border-radius: .35rem;
    header {
        padding: .5rem .25rem;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1;
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: end;
        border-bottom: 1px solid $border;
        img {
            width: 25px;
            height: 25px;
            border: 2px solid black;
            border-radius: 100%;
            margin-left: 10px;
            padding: 2px;
        }
        p {
            display: inline-block;            
        }
    }

    figure {
        padding: .25rem;
        border-bottom: 1px solid $border;
        height: 290px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block ;
            &.gray {
                filter: grayscale(100%);   
            }
            &.sepia {
                filter:sepia(100%);
            }
        }        
    }

    footer {
        padding: .5rem .25rem;
        display: grid;
        grid-template-columns: 1fr 50px;
        .data {
            padding: 0 .5rem;
            time {
                opacity: .5;
                margin-bottom: 1rem;
                display: block;
            }
            p {
                min-height: 70px;
            }
        }
        .button-wrapper {
            display: flex;
            justify-content: flex-end; 
            align-items: flex-start;
            button {
                width: 40px;
                height: 40px;
                background: none;
                border: none; 
                color: $red;  //no me toma xq es una img    
                img {
                    width: 100%;
                    height: auto;
                }  
                img:hover{
                    opacity: 0.5;            
                }
            }       
        }
    }    
}

.deck {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
}