$red: red;
$border: #dad8d8;
$white: #000;
$primary: #000;
$secondary: #000;
$text: #000;

$colors: (
    'red': $red,
    'border': $border,
    'white': $white,
    'primary': $primary,
    'secondary': $secondary,
    'text': $text
);

